* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#form-id {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

#form-id input {
  padding: 10px;
  margin-top: 10px;
}
