body {
    font-family: Arial, sans-serif;
    background-color: #fafbfd;
    display:flex ;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #f7f6f9;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px #aaa;
    width: 450px;
}

h2 {
    text-align: center;
    margin-bottom:  20px;
}

label {
    display:    block;
    margin-top: 12px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 95%;
    padding: 9px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 12px;
}

.error {
    color: red;
    font-size: 0.9em;
}

.success {
    color: green;
}

.buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #0b79d0;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #0a86eb;
}
